@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&family=Bevan&display=swap');

.button {

    font-family: 'Bellota', cursive;
    font-size: 20px;
    background: #abf3e6;
    color: #000000;
    width: 350px;
    height: 55px;
    border: #fafbff;
    border-radius: 10px;
    transition: all linear .15s;
    box-shadow: 1px 5px 5px #e6e3e3;

}

.button:hover {
    color: #065147;
    background: #b0efef;
}

.button:active {
    background: #ddfff8;
}


