@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url("../../svg/leftwaves.svg") no-repeat bottom;
  background-size: cover;
}

.containerDark {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: black url("../../svg/leftwaves.svg") no-repeat bottom;
  background-size: cover;
}

.link {
  text-decoration: none;
  color: black;
  margin-left: 40px ;
  font-family: 'Bellota', cursive;
  font-size: 22px;
}

.link_profile {
  text-decoration: none;
  color: black;
  font-family: 'Bellota', cursive;
  font-size: 22px;
}

.link_profile:not(:last-child) {
  margin-bottom: 80px ;
}

.profile_page {
  width: 100%;
  height: 90%;
  display: flex;

}

.navbar_profile {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.display_profile {
  height: 100%;
  width: 70%;
}

