@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&family=Bevan&display=swap');

.container {
  width: 415px;
  height: 420px;
  border: #bfb8ba 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.photo{
  width: 100%;
  height: 250px;
}

.image {
  width: 100%;
  height: 250px;
  border: #bfb8ba 1px solid;
  border-radius: 8px;
}

.section {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.description {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
}

.description_text {
  margin: 10px;
  font-family: 'Bellota', cursive;
  font-size: 16px;
}

.section_button {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

}

.button {
  font-family: 'Bellota', cursive;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #abf3e6;
  color: #000000;
  width: 250px;
  height: 40px;
  border: #fafbff;
  border-radius: 10px;
  transition: all linear .15s;
}

.button:hover {
  color: #065147;
  background: #b0efef;
}

.button:active {
  background: #ddfff8;
}
