.main_container {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
}

.left_container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constructor {
    height: 70%;
    width: 80%;
    border: #adadad solid 1px;
    background-color: rgba(250, 250, 250, 0.38);
    border-radius: 13px;
    display: grid;

}

.sliders {
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.item_slider {
    margin: 30px;
}

.park_card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all linear .15s ;
}

.park_card:hover {
    background: rgba(171, 243, 230, 0.30);
}
