@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&family=Bevan&display=swap');

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.image {
  width: 100%;
  height: 91%;
  border: white 1px solid;
  border-radius: 10px;
}

.text_drop {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 10%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: 'Bellota', cursive;
}

.container_drop {
  width: 45%;
  height: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop_area {
  width: 100%;
  height: 100%;
  border: #a6a6a6 dashed 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6a6a6;
  font-size: 20px;
  margin-bottom: 20px;

}

.drop_area_done {
  width: 100%;
  height: 100%;
  border: #6ccac7 dashed 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6a6a6;
  font-size: 20px;
  background: #effff9;
  margin-bottom: 20px;
}

