
.stat_item {
  flex: 1 1 0;
  padding: 35px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
}


.number{
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.description{
  font-size: 14px;
  text-transform: uppercase;
}
