@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap');

.background {
  width: 100%;
  height: 100vh;
  background: url("../../svg/leftwaves.svg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  height: 91%;
}

.navlink {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Bellota', cursive;
  margin: 20px;
}

.active {
  text-decoration: none;
  color: #08b7a8;
  margin: 20px;
  font-size: 35px;
  font-family: 'Bellota', cursive;
}
